.cursor-wait {
  /* 사용자 정의 스타일 */
  cursor: wait !important;
}

.font-letter-spacing {
  letter-spacing: -1.2px;
}

.font-weight-bolder {
  font-weight: bolder;
}

.min-height {
  min-height: 800px;
}

.hover-under-line:hover {
  text-decoration: underline;
}

.hover-nav-link {
  transition-duration: 300ms
}